
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Dashboard</title>
    <link rel="stylesheet" href="/css/user_feed.css">
    <link rel="stylesheet" href="/css/searched_user_profile.css">
    
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="logo">Socio</div>
        <form id="user-search-form" method="post" action="/users/search">
            <input type="text" name="name" placeholder="Search" aria-label="Search users">
            <button>Search</button>
        </form>
        <img src="<%= user.imageUrl %>" alt="profile pic" class="profile-icon"/>
    </header>

    <header class="header-responsive">
        <div class="logo">Socio</div>
        <button id="toggle-menu" class="toggle-btn">☰</button>
        <div class="header-menu" id="header-menu">
            <button class="close-btn" id="close-header-menu">×</button>
            <form id="user-search-form" method="post" action="/users/search">
                <input type="text" name="name" placeholder="Search" aria-label="Search users">
                <button>Search</button>
            </form>
            <button id="toggle-friends-list" class="toggle-btn">Friends</button>
            <button id="toggle-sidebar" class="toggle-btn">Sidebar</button>
        </div>
    </header>
    
    <!-- main container -->
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <button class="close-btn" id="close-sidebar">×</button>
            <ul class="menu">
                <li>Event</li>
                <li>Watch Videos</li>
                <li>Photos</li>
                <li>Files</li>
            </ul>
            <div class="pages">
                <h4>Pages You Like</h4>
                <ul>
                    <li>Fashion Design</li>
                    <li>Graphic Design</li>
                    <li>UI/UX Community</li>
                    <li>Web Designer</li>
                </ul>
            </div>
        </aside>
    
        <!-- Main Content -->
        <main class="main-content">
            <section class="profile">
                <div>
                    <img src="<%= searchedUserDetails.imageUrl %>" class="user-profile" alt="profile pic"/>
                    <div class="user-name"><%= searchedUserDetails.name %></div>
                    <div><% if (!friend) { %>
                     <form method="post" action="/users/<%= searchedUserDetails._id %>/<%= searchedUserDetails.name %>/add-friend" class="add-friend-form">
                        <button>add friend</button>
                     </form>
                    <% } %> </div>
                </div>
            </section>
        </main>
    
        <!-- Friends List -->
        <aside class="friends-list" id="friends-list">
            <button class="close-btn" id="close-friends-list">×</button>
            <div class="friends-search">
                <input type="search" placeholder="Search Friends" aria-label="Search friends">
            </div>
            <h4>Chat With Friends</h4>
            <div class="friends">
                <% user.friends.forEach(friend => { %>
                <a href="/users/<%= friend._id %>/chat"><%= friend.name %></a><br />
                <% }) %>
            </div>
        </aside>
    </div>
    <script src="/js/user-feed.js"></script>
</body>

</html>
